body {
    background: #00ff00;
}

#gameCanvas {
    background-image: url("./Mapa de juego.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}